.tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.michroma-regular {
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}



.winky-sans {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



body {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  margin-left: 7vw;
  margin-right: 7vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}




/*

  * {
    outline: 3px solid red;
  }

*/



section.top-page p {
  color: white;
  font-size: 1.4em;
  text-align: center;
  font-style: italic;
  line-height: 1.4;
  margin: 3em 4em;
  width: auto;
  border: none;
  padding: 0px;
}






h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
  padding: 0.5em;
  font-weight: 600;
  font-size: 2em;
  margin-top: 100px;
  margin-bottom: 0;
  scroll-margin-top: 120px;

}

.first-h1 {
  margin-top: 0px;
}



@media screen and (orientation: portrait) {
  h1 {
    font-size: 3em;
  }
}



h2 {
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;

  margin-top: 1em;

  /*  font-family: winky-sans, sans-serif; */


}




h3 {
  color: #ffcc32;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0 darkgoldenrod;
  margin-left: 5em;
  margin-top: 70px;

}


.highlight-orange {
  color: #ffcc32;
  font-weight: bold;
  /* optionnel si tu veux le faire ressortir un peu plus */
  font-style: initial;
  text-shadow: initial;
}

.highlight-darkorange {
  color: #712e05;
  font-weight: bold;
  /* optionnel si tu veux le faire ressortir un peu plus */
  font-style: initial;
  text-shadow: initial;
}





.right-content h3,
.left-content h3 {
  margin-top: 5em;
}


.right-content h3 {
  margin-right: 3vw;
  text-align: right;
}

.left-content h3 {
  margin-left: 3vw;
  text-align: left;
}



.text-left,
.text-right {
  color: white;
  font-size: 1.3em;
  padding: 1.5em;
  margin-right: 3vw;
  margin-left: 3vw;
  padding-bottom: 70px;
  position: relative;
}


.text-left {
  text-align: left;
  border-top: 0px solid #ffcc32;
  border-left: 3px solid #ffcc32;
}

.text-right {
  text-align: right;
  border-top: 0px solid #ffcc32;
  border-right: 3px solid #ffcc32;
}





.text-left::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  /* faire apparaître seulement une partie de border-top */
  border-top: 3px solid #ffcc32;
}


.text-right::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  /*faire apparaitre seulement une partie de border-top */
  border-top: 3px solid #ffcc32;
}







@media screen and (orientation: portrait) {

  .text-right,
  .text-left {
    font-size: 0.8em;
  }
}






/* -------------------- LES FIGURES / ELEMENTS VISUELS -------------------- */


.separator {
  /* border: 1px solid rgba(186, 115, 0); 
    background-color: rgba(243, 199, 87); */
  height: 2.5px;
  background-color: #ffcc32;
  width: 45vw;
  margin: 10px auto;
  border-radius: 3px;
}




.contact-button {
  display: inline-block;
  padding: 10px 25px;
  margin-top: 1.3em;
  border: 2px solid #7a4401;
  border-radius: 50px;
  /* Bordure ovale */
  background-color: #bc4d06;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

/* Centrage du bouton dans son conteneur */
.contact-button-container {
  display: flex;
  justify-content: center;
}

/* Optionnel : effet au survol */
.contact-button:hover {
  background-color: #ffb300;
  color: black;
  border-color: black;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/fond_de_base.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(90%);
}


header {
  position: fixed;
  nav-index: 1000;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  /* espace entre logo à gauche et nav à droite */
  align-items: center;
  padding: 1em 2em;
  background-color: hsla(0, 0%, 98%);
  /* background-color: whitesmoke; */
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}
